title=
url=
adres=
vd=
vd_no=
mersis_no=
tel=
tel2=

#BASE_DIR="D:\2025\WORK\laragon\www\pemm.app"
#CACHE_DIR="${BASE_DIR}/cache"
#TMP_DIR="D:\2025\WORK\laragon\tmp"

#phpmailer
smtp_host=smtp.example.com
smtp_username=user@example.com
smtp_password=secret
smtp_port=465
smtp_secure=ssl



mysql_host=localhost
mysql_port=3306
mysql_username=root
mysql_database=
mysql_password=


lisans=1
